name: Rust

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Rustfmt
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --all-targets --all-features --verbose
#    - name: Run tests
#      run: cargo test --all-features --verbose
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
